@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.common-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* header section nav */
header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 130px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-taitle {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    font-size: 20px;
}

nav button {
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px;
}

/* banner part */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px 30px 250px;
}

.banner-image img {
    width: 484px;
    height: 576px;
}

.banner-text h3 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #474747;
}

.bann-tai {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #181818;
}

.bann-p {
    padding: 20px 0 30px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.btn-second {
    border-radius: 5px;
    background: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 10px 18px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

/* about section */
.about {
    background-color: #fff8f3;
    margin: 130px 0;
    padding: 131px 0;
}

section.about {
    max-width: 1300px;
    margin: 0 auto;
}

.about-taitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 827px;
    color: #757575;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* what i do seaction */
.what-i-do {
    padding: 130px 0;
}

.skill-container {
    display: flex;
}

/* resume section */
.resu-ti {
    text-align: center;
    margin: 130px 0 113px 0;
}

.resume {
    display: flex;
    justify-content: space-between;
    gap: 71px;
}

.left-resume hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-resume h2 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}
.left-resume h3{
    color: #474747;
font-size: 25px;
font-weight: 700;
}
.left-resume h4{
    color:  #757575;
font-size: 20px;
font-weight: 600;
padding-top: 10px;
padding-bottom: 20px;
}
.left-resume p{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}